---
layout: page
title: Post Archive
group: navigation
page_id: post_archive
---
{% assign year = null %}

<ul>
{% for post in site.posts %}
	{% capture year_to_test %}{{ post.date | date:"%Y" }}{% endcapture %}
	{% if year_to_test != year %}
		{% if year != null %}
			</ul></li>
		{% endif %}
		{% assign year = year_to_test" %}
		<li>{{ year_to_test }}
		<ul>
	{% endif %}
	<li>
		<a href="{{ post.url }}">{{ post.title }}</a>
		<span class="date">{{ post.date | date:"%B %d, %Y" }}</span>
	</li>
{% endfor %}
</ul></li></ul>

