  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.author.name }}</title>

  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">

  <!-- For IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="https://use.edgefonts.net/source-sans-pro:n1,n2,n3,n4,n5,n6,n7,n8,n9.js"></script>
  <script src="https://use.edgefonts.net/source-code-pro:n1,n2,n3,n4,n5,n6,n7,n8,n9.js"></script>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/css/reset.css">
