$dark: #333333;
$medium: #888888;
$light: #eeeeee;

$primary-dark: #113344;
$primary-medium: #557799;
$primary-light: #eef5ff;

// Alternate colors (hover, border, etc)
$dark-alternate: lighten($dark, 10%);
$medium-alternate: darken($medium, 20%);
$light-alternate: darken($light, 10%);

$primary-dark-alternate: lighten($primary-dark, 10%);
$primary-medium-alternate: darken($primary-medium, 20%);
$primary-light-alternate: darken($primary-light, 10%);
