@import "colors";

html {
  overflow-y: scroll; // always show scrollbar
}

body {
  background: $light url(../img/bg.jpg);
  color: $dark;
  font: 300 110%/150% source-sans-pro, 'Helvetica Neue', Helvetica, sans-serif;
}

code {
  font: 300 100%/140% source-code-pro, 'Courier New', monospace !important;
}

h1, h2, h3 {
  font-weight: 800;
  margin: 0.8em 0;
}

h1 { font-size: 150%; }
h2 { font-size: 125%; }
h3 { font-size: 110%; }

p             { margin: 1em 0; }
p:first-child { margin-top: 0; }
p:last-child  { margin-bottom: 0; }
strong        { font-weight: 600; }
em            { font-style: italic; }
small         { font-size: 80%; }

p > code, li > code {
  background-color: $light;
  border-radius: 5px;
  border: 1px solid $light-alternate;
  padding: 0 0.2em;
  margin: 0 0.2em;
  color: $dark;
  white-space: nowrap;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

blockquote {
  margin: 0.5em 1em;
  padding: 0 5px;
  border-left: 10px solid $light;
}

//
// Definition lists
//
dl {
  margin: 1em;
  border: 1px solid $light-alternate;

  > dt {
    color: $dark;
    font-weight: 800;
    background-color: $light;
    text-align: center;
  }

  > dd {
    margin: 0.5em 1.5em;
  }
}

//
// Links
//
a {
  text-decoration: none;
  color: $primary-medium;

  &:hover {
    text-decoration: underline;
    color: $primary-medium-alternate;
  }
}

h1 > a, h1 > a:hover {
  text-decoration: none;
}

ul { list-style-type: square; }
ol { list-style-type: decimal; }

//
// Some useful classes
//
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.light {
  font-weight: 100;
}
