figure.highlight, .gist .gist-file {
  width: 95% !important;
  margin: 1em auto !important;
}

.highlight {
  line-height: 14pt;
  padding: 0;
  margin: 10px 20px;
  font-size: 14px;

  .code {
    padding: 0 10px;
  }

  .gutter {
    border: none;
    width: 20px;
    text-align: right;
    background: rgba(255, 255, 255, 0.1) !important;
    opacity: 0.5;
    padding: 5px 10px !important;
  }
}
