/*
 * Override some defaults
 */
html {
	overflow-y: scroll; /* always show scrollbar */
}

body {
	background: #eee url(../img/bg.jpg);
	color: #444;
	font: 300 110%/150% source-sans-pro, 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3 { font-weight: 800; margin: 0.8em 0; }
h1 { font-size: 150%; }
h2 { font-size: 125%; }
h3 { font-size: 110%; }

p            { margin-bottom: 1em; }
p:last-child { margin-bottom: 0; }
strong       { font-weight: 600; }
em           { font-style: italic; }
small        { font-size: 80%; }

pre {
	font-family: source-code-pro, 'Courier New', monospace;
	font-size: 70%;
	white-space: pre;
}

p > code, li > code {
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 0 0.2em;
	margin: 0 0.2em;
	color: #000;
	white-space: nowrap;
}

sup { vertical-align: super; font-size: smaller; }
sub { vertical-align: sub; font-size: smaller; }

blockquote {
    margin: 0.5em 1em;
    border-left: 10px solid #eee;
}

/*
 * Definition lists
 */
dl {
    margin: 1em;
    border: 1px solid #eeeeee;
}

dl > dt {
    color: #555555;
    font-weight: 800;
    background-color: #eeeeee;
    text-align: center;
}

dl > dd {
    margin: 0.5em 1.5em;
}

/*
 * Links
 */
a {
	text-decoration: none;
	color: #579;
}

a:hover {
	text-decoration: underline;
	color: #6af;
}

#content .post-body a {
	display: inline-block;
	background-color: #eef5ff;
	padding: 0 0.3em;
}

h1 > a, h1 > a:hover {
	text-decoration: none;
}

/*
 * Some useful classes
 */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.light { font-weight: 100; }
img.bordered { border: 1px solid #555; }

/*
 * Page container
 */
.container {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	background-color: #fff;
	box-shadow: 0 0 25px 5px #ccc; 
}

.container > .content {
	padding: 0 1em;
	text-align: justify;
}

/*
 * Icons
 */
.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
}

.icon.github      { background: url(../img/social-icons.png) no-repeat 0; }
.icon.facebook    { background: url(../img/social-icons.png) no-repeat -41px; }
.icon.twitter     { background: url(../img/social-icons.png) no-repeat -82px; }
.icon.google_plus { background: url(../img/social-icons.png) no-repeat -123px; }
.icon.linkedin    { background: url(../img/social-icons.png) no-repeat -164px; }
.icon.rss         { background: url(../img/social-icons.png) no-repeat -205px; }

/*
 * Header
 */
.container > header {
	margin: 0;
	padding: 0 1em;
	background: #555;
	background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
	border-bottom: 3px solid #888;
	text-shadow: 1px 1px 0px #000;
}

.container > header a, .container > header h1, .container > header li {
	color: #fff;
}

.container > header a:hover {
	text-decoration: none;
	color: #6af;
}

.container > header > h1 {
	float: left;
	font-weight: 900;
	font-size: 90px;
	margin: 0;
	font-variant: small-caps;
}

.container > header > h1 > a {
	line-height: 100px;
	overflow: hidden;
	height: 100px;
	display: inline-block;
}

.container > header > ul.inline {
	float: right;
	margin: 0.5em 0;
}

.container > header ul.inline.social-icons {
	clear: right;
	margin: 0 0 0.2em 0;
}

.container > header ul.inline.social-icons img {
	height: 1.5em;
}

.container > header ul.inline.social-icons > li {
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.container > header ul.inline.social-icons > li:hover {
	opacity: 1;
}

/*
 * Footer
 */
.container > footer {
	margin: 1em 0;
	padding: 1em;
	border-top: 3px solid #eee;
	background-color: #eee;
}

.container > footer p {
	font-size: 75%;
	padding: 0;
	margin: -10px;
	text-align: center;
	color: #888;
}

/*
 * Content
 */
#content {
	padding: 1em;
}

#content > h1, #content > h2 {
	background: #eee;
	padding: 0.5em;
	border: 1px solid #ddd;
	text-align: right;
}

#content img {
	max-width: 950px;
}

/* Lists that are descendants, but not children, of #content get bullets by default */
#content ul { list-style-type: square; padding: 0 2em; margin: 1em 0; }
#content ol { list-style-type: decimal; padding: 0 2em; margin: 1em 0; }

/* Ordered lists go 1., 1.1., 1.1.1., ... for sub lists */
#content ol {
    counter-reset: item;
}

#content ol > li {
    display: block;
    position: relative;
}

#content ol > li:before {
    font-weight: 600;
    content: counters(item, ".") ".";
    counter-increment: item;
    margin-right: 100%;
    right: 10px;
    position: absolute;
}

/*
 * List styles
 */
ul.inline > li {
	display: inline-block;
	margin: 0;
	margin-right: -1px;
	padding: 0;
}

/* "Tagged:" prefix on list */
ul.tagged:before {
	content: "Tagged:";
	padding-right: 0.5em;
}

/* Dots between items */
ul.inline.dotted > li:before {
	content: " · ";
	margin: 0.5em;
}

ul.inline.dotted > li:first-child:before {
	content: none;
}

/* Items are blocks */
ul.inline.block > li > * {
	background: #ddd;
	font-size: 10pt;
	color: #000;
	padding: 0.2em 1em;
	transition: all 0.5s ease-out;
	cursor:	default;
}
/*
ul.inline.block > li > *:hover {
	background: #555;
	text-decoration: none;
	color: #fff;
}
*/
/*
 * Page sub-header
 */
div#sub-header {
	padding: 1em;
	background: #ddd;
}

/*
 * Home
 */

/* About me sub-header on home page */
body.home div#sub-header > img {
	float: left;
	margin-right: 1em;
}

body.home div#sub-header > p {
	font-size: 80%;
	line-height: 140%;
}

/**
 * Post listings
 */
#content > ul.posts {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#content > ul.posts > li {
	font-weight: 600;
	clear: both;
}

#content > ul.posts > li > p {
	text-align: justify;
	padding: 0 2em 0 1em;
}

#content > ul.posts > li .date {
	display: inline-box;
	width: 10em;
	font-weight: 300;
	margin-right: 1em;
	color: #888;
	float: left;
	text-align: right;
}

#content > ul.posts > li > ul.inline {
	float: right;
	margin: 0;
}

/*
 * About
 */
body.about #content {
	text-align: justify;
}

body.about #content img.me {
	float: right;
	width: 45%;
	margin-left: 1.5em;
	opacity: 0.5;
	transition: all 0.5s ease-out;
}

body.about #content img.me:hover {
	opacity: 1.0;
}

/*
 * Portfolio
 */
body.portfolio #content > ul {
	width: 100%;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

body.portfolio #content > ul > li {
	display: block;
	clear: both;
	width: 100%;
	padding: 1em 0 0 0;
	border-top: 3px solid #ddd;
	font-size: 90%;
	line-height: 140%;
}

body.portfolio #content > ul > li:first-child {
	border-top: none;
	padding-top: 0;
}

body.portfolio #content > ul > li > div {
	padding: 0 1em;
}

body.portfolio #content > ul > li > div > img {
	float: right;
}

body.portfolio #content > ul > li > div > a {
	display: block;
	float: right;
	padding: 0;
	outline: none;
	margin: 0 0 1em 1em;
}

body.portfolio #content > ul > li > div > a > img {
	max-width: 25em;
	max-height: 15em;
}

body.portfolio #content > ul > li > ul.inline.block {
	float: right;
	clear: right;
	margin-bottom: 1px;
}

/*
 * Publications
 */
body.publications #content > h2:first-child {
	margin-top: 0;
}

body.publications #content ul {
	list-style-type: inherit;
	padding: 0 2em;
	text-align: justify;
}

body.publications #content ul > li:hover {
	color: #579;
}

/*
 * Post archive
 */
body.post_archive #content ul > li > ul {
	margin: 0;
}

body.post_archive #content ul .date {
	color: #888;
	margin-left: 0.5em;
	padding-left: 0.5em;
	border-left: 1px solid #333;
}

/*
 * Posts
 */
body.post div#sub-header > h1 {
	margin: 0 0 0.5em 0;
}

body.post div#sub-header > div.date {
	font-size: 80%;
	line-height: 90%;
	color: #888;
}

body.post div#sub-header > ul.inline.block {
	float: right;
}

body.post div#sub-header > ul.inline.block > li > * {
	background-color: #eee;
}
/*
body.post div#sub-header > ul.inline.block > li > *:hover {
	background-color: #555;
}
*/
body.post #content > p {
	text-align: justify;
}

body.post #post_comments {
	background-color: #ddd;
	padding: 1em;
	margin-bottom: -1em;
}

/*
 * Image overlay div
 */
div.img_overlay {
    text-align: center;
}

div.img_overlay img:first-child {
    display: none;
}

div.img_overlay:hover img:first-child {
    display: inline;
}

div.img_overlay:hover img:last-child {
    display: none;
}

/*
 * Additional highlight table CSS.
 */
.highlighttable {
	width: 90%;
	margin: 1em auto;
	font-size: 10pt;
	line-height: 14pt;
	border: 1px solid #e7e7d6;
}

.highlighttable .linenos {
	font-weight: 600;
	text-align: right;
	padding: 5px 10px 5px 0;
	width: 30px;
	background: rgba(0, 0, 0, 0.1);
	opacity: 0.3;
}

.highlighttable .code {
	padding: 5px 10px;
	font-family: source-code-pro, monospace;
}
