body.post {
  div#sub-header {
    > h1 {
      margin: 0 0 0.5em 0;
    }

    > div.date {
      font-size: 80%;
      line-height: 90%;
      color: #888;
    }

    > ul.inline.block {
      float: right;
    }
  }

  #content > p {
    text-align: justify;
  }

  #post_comments {
    background-color: #ddd;
    padding: 1em;
    margin-bottom: -1em;
  }
}
