body.post_archive #content {
  ul {
    > li > ul {
      margin: 0;
    }

    .date {
      color: $medium;
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: 1px solid $medium-alternate;
    }
  }
}
