@mixin highlighting-base {
  background: #282828 !important;
  color: #ebdbb2 !important;
}

@mixin highlighting($prefix: '') {
  .#{$prefix}hll { background-color: #ffffcc }
  .#{$prefix}c { color: #928374; font-style: italic; } // Comment
  .#{$prefix}err { color: #ebdbb2; } // Error
  .#{$prefix}esc { color: #ebdbb2; } // Escape
  .#{$prefix}g { color: #ebdbb2; } // Generic
  .#{$prefix}k { color: #fe8019; } // Keyword
  .#{$prefix}l { color: #ebdbb2; } // Literal
  .#{$prefix}n { color: #ebdbb2; } // Name
  .#{$prefix}o { color: #fe8019; } // Operator
  .#{$prefix}x { color: #ebdbb2; } // Other
  .#{$prefix}p { color: #ebdbb2; } // Punctuation
  .#{$prefix}ch { color: #928374; font-style: italic; } // Comment.Hashbang
  .#{$prefix}cm { color: #928374; font-style: italic; } // Comment.Multiline
  .#{$prefix}cp { color: #8ec07c; } // Comment.Preproc
  .#{$prefix}c1 { color: #928374; font-style: italic; } // Comment.Single
  .#{$prefix}cs { color: #928374; font-style: italic; } // Comment.Special
  .#{$prefix}gd { color: #282828; background-color: #fb4934 } // Generic.Deleted
  .#{$prefix}ge { color: #83a598; text-decoration: underline; } // Generic.Emph
  .#{$prefix}gr { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } // Generic.Error
  .#{$prefix}gh { color: #b8bb26; font-weight: bold; } // Generic.Heading
  .#{$prefix}gi { color: #282828; background-color: #b8bb26 } // Generic.Inserted
  .#{$prefix}go { color: #504945; } // Generic.Output
  .#{$prefix}gp { color: #ebdbb2; } // Generic.Prompt
  .#{$prefix}gs { color: #ebdbb2; } // Generic.Strong
  .#{$prefix}gu { color: #b8bb26; font-weight: bold; } // Generic.Subheading
  .#{$prefix}gt { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } // Generic.Traceback
  .#{$prefix}kc { color: #fe8019; } // Keyword.Constant
  .#{$prefix}kd { color: #fe8019; } // Keyword.Declaration
  .#{$prefix}kn { color: #fe8019; } // Keyword.Namespace
  .#{$prefix}kp { color: #fe8019; } // Keyword.Pseudo
  .#{$prefix}kr { color: #fe8019; } // Keyword.Reserved
  .#{$prefix}kt { color: #fabd2f; } // Keyword.Type
  .#{$prefix}ld { color: #ebdbb2; } // Literal.Date
  .#{$prefix}m { color: #d3869b; } // Literal.Number
  .#{$prefix}s { color: #b8bb26; } // Literal.String
  .#{$prefix}na { color: #b8bb26; font-weight: bold; } // Name.Attribute
  .#{$prefix}nb { color: #fabd2f; } // Name.Builtin
  .#{$prefix}nc { color: #ebdbb2; } // Name.Class
  .#{$prefix}no { color: #d3869b; } // Name.Constant
  .#{$prefix}nd { color: #ebdbb2; } // Name.Decorator
  .#{$prefix}ni { color: #fabd2f; } // Name.Entity
  .#{$prefix}ne { color: #fb4934; } // Name.Exception
  .#{$prefix}nf { color: #fabd2f; } // Name.Function
  .#{$prefix}nl { color: #fb4934; } // Name.Label
  .#{$prefix}nn { color: #ebdbb2; } // Name.Namespace
  .#{$prefix}nx { color: #ebdbb2; } // Name.Other
  .#{$prefix}py { color: #ebdbb2; } // Name.Property
  .#{$prefix}nt { color: #fb4934; } // Name.Tag
  .#{$prefix}nv { color: #ebdbb2; } // Name.Variable
  .#{$prefix}ow { color: #fe8019; } // Operator.Word
  .#{$prefix}w { color: #ebdbb2; } // Text.Whitespace
  .#{$prefix}mb { color: #d3869b; } // Literal.Number.Bin
  .#{$prefix}mf { color: #d3869b; } // Literal.Number.Float
  .#{$prefix}mh { color: #d3869b; } // Literal.Number.Hex
  .#{$prefix}mi { color: #d3869b; } // Literal.Number.Integer
  .#{$prefix}mo { color: #d3869b; } // Literal.Number.Oct
  .#{$prefix}sb { color: #b8bb26; } // Literal.String.Backtick
  .#{$prefix}sc { color: #b8bb26; } // Literal.String.Char
  .#{$prefix}sd { color: #b8bb26; } // Literal.String.Doc
  .#{$prefix}s2 { color: #b8bb26; } // Literal.String.Double
  .#{$prefix}se { color: #b8bb26; } // Literal.String.Escape
  .#{$prefix}sh { color: #b8bb26; } // Literal.String.Heredoc
  .#{$prefix}si { color: #b8bb26; } // Literal.String.Interpol
  .#{$prefix}sx { color: #b8bb26; } // Literal.String.Other
  .#{$prefix}sr { color: #b8bb26; } // Literal.String.Regex
  .#{$prefix}s1 { color: #b8bb26; } // Literal.String.Single
  .#{$prefix}ss { color: #83a598; } // Literal.String.Symbol
  .#{$prefix}bp { color: #fabd2f; } // Name.Builtin.Pseudo
  .#{$prefix}vc { color: #ebdbb2; } // Name.Variable.Class
  .#{$prefix}vg { color: #ebdbb2; } // Name.Variable.Global
  .#{$prefix}vi { color: #ebdbb2; } // Name.Variable.Instance
  .#{$prefix}il { color: #d3869b; } // Literal.Number.Integer.Long
}
