---
layout: default
---
<div id="sub-header" class="clearfix">
	<img src="assets/img/me_small.jpg"/>
	<p>Jason is an <strong>avid programmer</strong> with a love for problem solving.
	   He has a background in <strong>computer science</strong> and <em>pure mathematics</em>,
	   with a love for <strong>computer vision</strong>, <em>computer graphics</em>, and
	   <em>image processing</em>.
	</p>
	<p>When he's not busily coding on his laptop, he enjoys spending time with friends
	   and rocking out on a guitar. He even sometimes fiddles with composing music.
	</p>
</div>
<div id="content" class="clearfix home">
	{{ content }}
</div>
