---
layout: default
---
{% comment %}
<div id="sub-header" class="clearfix">
	<img src="assets/img/me_small.jpg"/>
	<p>Jason is an <strong>avid programmer</strong> with a love for problem solving.
	   He has a background in <strong>computer science</strong> and <em>pure mathematics</em>,
	   with a love for <strong>computer vision</strong>, <em>computer graphics</em>, and
	   <em>image processing</em>.
	</p>
	<p>When he's not busily coding on his laptop, he enjoys spending time with friends
	   and rocking out on a guitar. He even sometimes fiddles with composing music.
	</p>
</div>
{% endcomment %}
{{ content }}
<div id="content" class="clearfix {{ page.page_id }}">
	<ul class="posts">
	{% for post in site.posts %}
		{% if page.show_tag == 'all' or post.tags contains page.show_tag %}
		<li class="clearfix">
			<small class="date">{{ post.date | date:"%B %d, %Y" }}</small>
			<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			<ul class="inline block">
				<li><a href="#">{{ post.category }}</a></li>
				{% for tag in post.tags %}
					<li><a href="#">{{ tag }}</a></li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
