---
layout: default
page_id: post
---
<div id="sub-header" class="clearfix">
  <ul class="inline block tagged">
    {% if page.category %}
    <li><a href="#">{{ page.category }}</a></li>
    {% endif %}
    {% for tag in page.tags %}
    <li><a href="#">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  <h1>{{ page.title }}</h1>
  <div class="date">Posted on <span class="date">{{ page.date | date:"%B %d, %Y" }}</span></div>
</div>
<div id="content" class="clearfix post">
  <div class="post-body">
    {{ content | replace:"<!-- more -->","" }}
  </div>
</div>

{% if site.environment == 'production' %}
<div id="post_comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'gedge';

    (function() {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = 'https://gedge.disqus.com/embed.js';
      dsq.setAttribute('data-timestamp', +new Date());
      (document.head || document.body).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<a name="post_comments"></a>
{% endif %}
